@import "compass";
@import "compass/reset";
@import "partials/blankwork";
@import "partials/outline";

$primeColor:#c11459;

body{
	color: #404040;
	font-family: Arial,"微軟正黑體", "新細明體", "Lucida Sans Unicode", Helvetica, Verdana, sans-serif;
	font-size: 15px;
	line-height: 30px;
	background-color: #F7F7F7;
	background: url(../images/body_bg.jpg)center top no-repeat;
}
a{
	text-decoration: none;
	color: #404040;
	&:hover{
	color: $primeColor; 
	}
}
.wrapper{
	@include wrapper;
}

h1{
	@include hide-text;
}

header{
	@include container;
	a{
		img{ 
			position: absolute; 
			top:24px;
		}
	}
	nav{
		margin: 84px 0px 17px 0px;
		float: right;
		border-bottom: 2px $primeColor solid ;
		width: 800px;
		ul{
			float: right;
			margin-right: 72px ;
			li{
				list-style-type: none;
				float: left;
				font-size: 18px;
				padding: 13px 14px;
				color: #777A69;
				&:hover{
					background-color: #c11459;
					a{
						color: #FEE0EC;
					}	
				}
			}
		}
	}
}
.banner{
	height: 393px;
	background:#7e1459 url(../images/head_bg.jpg) top center no-repeat;

	}
.iphone{
	float: left;
	width: 729px;
	height: 428px;
	background: url(../images/iphone.png) top center no-repeat;
	position: relative;
	top: 130px;
	left: -30px;
}

.download_area{
	display: inline-block;
width:get_width(3);
height: 166px;
background: url(../images/download_game.png) top center no-repeat;
margin-top: 130px;
a{
	color: #DAB4D3;
	padding: 0px 65px;
	font-size: 20px;
	font-weight: bold;
	background: url(../images/tringle_normal.gif)150px 6px no-repeat;
	&:hover{
	background-image: url(../images/tringle_hover.gif);
	color:#43071E;
	}
}
.download_btn{
	@include hide-text;
	padding: 0px;
	display: block;
	 width:get_width(3);
	 height: 76px; 
	 background: url(../images/free_normal.png) top center no-repeat;	
	 margin-top: 73px;
	 &:hover{
	 	background-image: url(../images/free_hover.png);
	 }
}
}

.linespace{
	@include wrapper;
	div{
		width: 351px;
		height: 209px;
		border-right: 3px $primeColor solid;
	}
}
.contant{
	@include wrapper;
}

#feature_cont{
	background: url(../images/content_1.jpg) 148px 0px no-repeat;
p{
	width: 518px;
	padding: 47px 0px 195px 385px;
}
}

#character_cont{
	background: url(../images/role.jpg) 148px 0px no-repeat;
	width: 960px;
	height: 369px;
}

.detail{
	float: left;
	padding: 53px 0px 0px 208px;
	letter-spacing: 10px;
	dt{
		font-size: 30px;
		line-height: 45px;
	}
	dd{
		line-height: 28px;
	}
}

#large_photo{
	margin: 30px 100px 0px 0px;
			width: 154px;
			height: 267px;
			float: right;
		}
.act_gang{ background: url(../images/gang/gang0001.png)top center no-repeat;}
.act_hostess{background: url(../images/hostess/hostess0001.png)top center no-repeat;}
.act_richer{background: url(../images/richer/richer0001.png) top center no-repeat;}

.actors{
	float: left;
	margin: 30px 0px 0px 208px;
	div{
		display: inline-block;
		float: left;
		width: 98px;
		height: 98px;
		margin: 0px 10px;
		&:hover{
			cursor: pointer;
		}	
	}
}

#richer{
	background: url(../images/richer_icon.jpg) top center no-repeat;
	&:hover{
		background-image: url(../images/richer_icon_hover.jpg);
	}
}
#gang{
		background: url(../images/gang_icon.jpg) top center no-repeat;
	&:hover{
		background-image: url(../images/gang_icon_hover.jpg);
	}	
}
#hostess{
	background: url(../images/hostess_icon.jpg);
	&:hover{
		background-image: url(../images/hostess_icon_hover.jpg);
	}
}

#play_game_cont{
	background: url(../images/play_game.jpg) 148px 0px no-repeat;
	width: 1003px;
	height: 670px;
	p{
		margin: 140px 0px 0px 382px;
		width: 613px;
	}

}

#exchange_cont{
	background: url(../images/exchange.jpg) 130px top no-repeat;
	width: 960px;
	h1{
		margin-top: 150px;
	}
	ul{
		list-style:disc  outside;
		margin: 30px 0px 0px 150px;
		width: 700px;
		li{
			line-height: 20px;
			padding: 10px 0px;
		}
	}
	img{
		margin: 10px 0px 0px 150px;
	}
	
	h2{
		@include hide-text;
		margin: 10px 0px 0px 150px;
		background: url(../images/contect.jpg)left top no-repeat;
	}

	.exchange_btn{
		@include hide-text;
		//margin: 30px 0px 0px 213px;
		display: block;
		width: 240px;
		height: 76px;
		background: url(../images/exchane_normal.png) top center no-repeat;
		&:hover{
			background-image:url(../images/exchange_hover.png); 
		}
	}
	.italking{
		float: left;
		margin: 10px 0px 0px 150px;
	h3{
		text-indent: 80px;
		}
	}
	.qrcode{
		float: left;
	img{
		margin: 0px 30px;
		}		
	}
}
footer{
	line-height: 50px;
	text-align: center;
}
.act_gang{ background: url(../images/gang/gang0001.png)top center no-repeat;}
.act_hostess{background: url(../images/hostess/hostess0001.png)top center no-repeat;}
.act_richer{background: url(../images/richer/richer0001.png) top center no-repeat;}
