@import "compass";
@import "compass/reset";
@import "partials/blankwork";
//@import "partials/outline";


body{
	background: url(../images/heading_bg.jpg) #060104 center top no-repeat;
	color: #f3f2f2;
	font-family: Arial,"微軟正黑體", "新細明體", "Lucida Sans Unicode", Helvetica, Verdana, sans-serif;
}
.wrapper{
	@include wrapper;
}

header{
	position: relative;
	@include container;
	a{
		img{
			margin-top: 31px;
		}
		h1{
			@include hide-text;
		}
	}

	.download{
		position: absolute;
		right: 79px;
		top:342px;
	}
	nav{
		@include container;
		height: 62px;
		background: url(../images/nav_bg.jpg) center top no-repeat;
		margin-top: 215px;
		ul{
			li{
				list-style-type: none;
				width: get_width($_columns / 4, false) ;
				float: left;
				&.first{@include alpha};
				&.last{@include omega};
				height: 62px;
				&:hover{
				}
				a{
					display: block;
					width: get_width($_columns / 4, false) ;
					height: 62px;
					@include hide-text;
				}
			}
		}
	}
}

.contant{
	@include container;
	background-color: #151515;
	section{
		margin: 20px 0px;
		@include clearfix;
	}
	h1{
		background: url(../images/h1_bg.jpg) center top no-repeat;
	 	width: 306px;
	 	height: 114px;
	 	font-size: 25px;
	 	font-weight: bold;
	 	text-align: center;
	 	line-height:110px; 
	 }
	 p{
	 	width: get_width(10);
	 	padding: 20px 90px;
	 	font-size: 18px;
	 	line-height: 35px;
	 }
}

#news_cont{
	img{
		margin: 20px 15px;
	}
}
.rule{
	background: url(../images/b9_banner.jpg);
	@include container;
	height: 450;
	a{
		position: relative;
		display: block;
		width: 206px;
		height: 450px;
		background: url(../images/normal.jpg)top center no-repeat;
		@include hide-text;
		top:340px;
		left:150px;
		&:hover{
			background-image: url(../images/hover.jpg);
		}
	}
}


.display_actor{
	width: get_width(6);
	margin: 0px auto;
		.detail{
			margin: 110px 30px 30px 193px;
			dl{
				float: left;
				dt{
					font-size: 30px;
					line-height: 35px;
					margin: 10px 0px;
				}
				dd{
					font-size: 18px;
					line-height:30px;
				}
			}
			@include clearfix;
		}
		.actors{
			@include column(7);
			margin: 0px auto;
			img{
				@include column(2)
			}
		}
		@include clearfix;
}

#play_game_cont{
	img{
		@include column(4)
	}
}

footer{
	@include container;
	text-align: center;
	padding: 30px 0px;
}

#news:hover{background: url(../images/news.jpg) center top no-repeat;}
#feature:hover{background: url(../images/feture.jpg) center top no-repeat;}
#character:hover{background: url(../images/character.jpg) center top no-repeat;}
#play_game:hover{background: url(../images/play_game.jpg) center top no-repeat;}

#large_photo{
			width: 154px;
			height: 267px;
			float: left;
		}
.act_gang{ background: url(../images/gang/gang0001.png)top center no-repeat;}
.act_hostess{background: url(../images/hostess/hostess0001.png)top center no-repeat;}
.act_richer{background: url(../images/richer/richer0001.png) top center no-repeat;}