@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  background: url(../images/heading_bg.jpg) #060104 center top no-repeat;
  color: #f3f2f2;
  font-family: Arial,"微軟正黑體", "新細明體", "Lucida Sans Unicode", Helvetica, Verdana, sans-serif;
}

.wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}
.wrapper:before, .wrapper:after {
  content: "";
  display: table;
}
.wrapper:after {
  clear: both;
}

header {
  position: relative;
  display: inline;
  float: left;
  width: 960px;
}
header a img {
  margin-top: 31px;
}
header a h1 {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}
header .download {
  position: absolute;
  right: 79px;
  top: 342px;
}
header nav {
  display: inline;
  float: left;
  width: 960px;
  height: 62px;
  background: url(../images/nav_bg.jpg) center top no-repeat;
  margin-top: 215px;
}
header nav ul li {
  list-style-type: none;
  width: 240px;
  float: left;
  height: 62px;
}
header nav ul li.first {
  margin-left: 0;
}
header nav ul li.last {
  margin-right: 0;
}
header nav ul li a {
  display: block;
  width: 240px;
  height: 62px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}

.contant {
  display: inline;
  float: left;
  width: 960px;
  background-color: #151515;
}
.contant section {
  margin: 20px 0px;
  *zoom: 1;
}
.contant section:before, .contant section:after {
  content: "";
  display: table;
}
.contant section:after {
  clear: both;
}
.contant h1 {
  background: url(../images/h1_bg.jpg) center top no-repeat;
  width: 306px;
  height: 114px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  line-height: 110px;
}
.contant p {
  width: 780px;
  padding: 20px 90px;
  font-size: 18px;
  line-height: 35px;
}

#rule_cont img {
  margin: 20px 15px;
}

.rule {
  background: url(../images/b9_banner.jpg);
  display: inline;
  float: left;
  width: 960px;
  height: 450;
}
.rule a {
  position: relative;
  display: block;
  width: 206px;
  height: 450px;
  background: url(../images/normal.jpg) top center no-repeat;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  top: 340px;
  left: 150px;
}
.rule a:hover {
  background-image: url(../images/hover.jpg);
}

.display_actor {
  width: 460px;
  margin: 0px auto;
  *zoom: 1;
}
.display_actor .detail {
  margin: 110px 30px 30px 193px;
  *zoom: 1;
}
.display_actor .detail dl {
  float: left;
}
.display_actor .detail dl dt {
  font-size: 30px;
  line-height: 35px;
  margin: 10px 0px;
}
.display_actor .detail dl dd {
  font-size: 18px;
  line-height: 30px;
}
.display_actor .detail:before, .display_actor .detail:after {
  content: "";
  display: table;
}
.display_actor .detail:after {
  clear: both;
}
.display_actor .actors {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 540px;
  margin: 0px auto;
}
.display_actor .actors img {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 140px;
}
.display_actor:before, .display_actor:after {
  content: "";
  display: table;
}
.display_actor:after {
  clear: both;
}

#play_game_cont img {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
}

footer {
  display: inline;
  float: left;
  width: 960px;
  text-align: center;
  padding: 30px 0px;
}

#rule:hover {
  background: url(../images/rule.jpg) center top no-repeat;
}

#feature:hover {
  background: url(../images/feture.jpg) center top no-repeat;
}

#character:hover {
  background: url(../images/character.jpg) center top no-repeat;
}

#play_game:hover {
  background: url(../images/play_game.jpg) center top no-repeat;
}

#large_photo {
  width: 154px;
  height: 267px;
  float: left;
}

.act_gang {
  background: url(../images/gang/gang0001.png) top center no-repeat;
}

.act_hostess {
  background: url(../images/hostess/hostess0001.png) top center no-repeat;
}

.act_richer {
  background: url(../images/richer/richer0001.png) top center no-repeat;
}
